@model PagedList.PagedList<Laptopshop.Models.Product>
@using PagedList;
@using PagedList.Mvc;

@{

    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="banner-w3">
    <div class="demo-1">
        <div id="example1" class="core-slider core-slider__carousel example_1">
            <div class="core-slider_viewport">
                <div class="core-slider_list">
                    <div class="core-slider_item">
                        <img src="~/Content 3/images/banner1.jpg" class="img-responsive" alt="" />
                    </div>
                    <div class="core-slider_item">
                        <img src="~/Content 3/images/banner2_min.jpg" class="img-responsive" alt="" />
                    </div>
                    <div class="core-slider_item">
                        <img src="~/Content 3/images/banner3.jpg" class="img-responsive" alt="" />
                    </div>
                    <div class="core-slider_item">
                        <img src="~/Content 3/images/banner4.jpg" class="img-responsive" alt="" />
                    </div>

                </div>
            </div>
          
            <div class="core-slider_control-nav"></div>
        </div>
    </div>
    <link href="~/Content 3/css/coreSlider.css" rel="stylesheet" type="text/css" />
    <script src="~/Content 3/js/coreSlider.js"></script>
    <script>
        $('#example1').coreSlider({
            pauseOnHover: false,
            interval: 3000,
            controlNavEnabled: true
        });

    </script>

</div>
<div class="ban-bottom-w3l">
    <div class="container">
        <div class="col-md-6 ban-bottom">
            <div class="ban-top">
                <img src="~/Content 3/images/4T.png" class="img-responsive" alt="" />
                @*<div class="ban-text">
                        <h4>Nike</h4>
                    </div>*@

            </div>
        </div>
        <div class="col-md-6 ban-bottom3">
            <div class="ban-top">
                <img src="~/Content 3/images/4Twelve.jpg" class="img-responsive" alt="" />

                <div class="clearfix"></div>
            </div>
        </div>
        <div class="clearfix">

        </div>
    </div>
</div>
<!--new-arrivals-->
<div class="new-arrivals-w3agile">
    <div class="container">
        <h2 class="tittle">Sản Phẩm mới</h2>
        <div class="arrivals-grids">


            @foreach (var item in Model)
            {
                <div class="col-md-3 arrival-grid simpleCart_shelfItem">

                    <div class="panel panel-default">

                        <div class="panel-heading">@item.Name</div>
                        <figure>
                            <div class="panel-body">
                                <a href="~/Product/Detail/@item.Id" class="new-gri">
                                    <div class="ban-top">
                                        <img width="150" height="150" src="~/images/products/@item.Image "data-product-id="@item.Id" class="gw-draggable" />
                                    </div>

                                </a>
                            </div>
                        </figure>

                        <div class="block">
                            <div class="starbox small ghosting"> </div>
                        </div>
                        <div class="women">
                            <h6><a href="~/Product/Detail/@item.Id">Chi tiết</a></h6>
                            @if (item.Discount == 0)
                            {
                                <p> <h3><em style="color:red" class="item_price">@string.Format("{0:0,0}", @item.UnitPrice) VNĐ</em></h3></p>
                            }
                            else
                            {


                                <p>
                                    <h3>
                                        <strike><em class="item_price">@string.Format("{0:0,0}", @item.UnitPrice) VNĐ</em></strike>

                                        <em style="color:red" class="item_price">@string.Format("{0:0,0}", (@item.UnitPrice * (1 - item.Discount))) VNĐ</em>
                                    </h3>
                                </p>

                            }
                            <button class="my-cart-b item_add" data-add-to-cart="@item.Id">
                                Thêm vào giỏ hàng
                            </button>
                        </div>

                    </div>

                </div>
            }
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<!--new-arrivals-->
<center>
    <div class="pagination">
        @Html.PagedListPager(Model, trang => Url.Action("Index", new { trang = trang }))
    </div>
</center>


