@model IEnumerable<Report>
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<table class="table table-bordered">
    <tr>
        <th>
            Nhóm
        </th>
        <th>

            Đếm
        </th>
        <th>

            Tổng
        </th>
        <th>

            Tối thiểu
        </th>
        <th>
            Tối đa
        </th>
        <th>
            Trung bình

        </th>


    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @item.Group
            </td>
            <td>
                @item.Count
            </td>
            <td>
                @item.Sum
            </td>
            <td>
                @item.Min
            </td>
            <td>
                @item.Max
            </td>
            <td>
                @item.Avg
            </td>


        </tr>
    }

</table>




