@model IEnumerable<Report>
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<table class="table table-bordered">
    <tr>
        <th>
           Tên sản phẩm
        </th>
        <th>

            Số lượng
        </th>
        <th>

            Giá Trị
        </th>
        <th>

           Giá trị Tối thiểu
        </th>
        <th>
            Giá trị Tối đa
        </th>
        <th>
            Giá trị Trung bình

        </th>


    </tr>

    @foreach (var item in Model)
    {
    <tr>
        <td>
            @item.Group
        </td>
        <td>
            @item.Count
        </td>
        <td>
            @string.Format("{0:0,0}", @item.Sum) VNĐ
        </td>
        <td>
            @string.Format("{0:0,0}", @item.Min) VNĐ
        </td>
        <td>
            @string.Format("{0:0,0}", @item.Max) VNĐ
        </td>
        <td>
            @string.Format("{0:0,0}", @item.Avg) VNĐ
        </td>



    </tr>
    }

</table>




