<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Online Shopping Mall</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Bootstrap styles -->
    <link href="/Content/MyStyle/assets/css/bootstrap.css" rel="stylesheet" />
    <!-- Customize styles -->
    <link href="/Content/MyStyle/style.css" rel="stylesheet" />
    <!-- font awesome styles -->
    <link href="/Content/MyStyle/assets/font-awesome/css/font-awesome.css" rel="stylesheet">
    <!--[if IE 7]>
        <link href="css/font-awesome-ie7.min.css" rel="stylesheet">
    <![endif]-->
    <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!-- Favicons -->
    <link rel="shortcut icon" href="/Content/MyStyle/assets/ico/favicon.ico">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    <script src="~/Scripts/jquery-ui-1.12.1.js"></script>
</head>
<body>
    <div class="container">
        <header class="nn-header row">
            <div class="nn-company">
                <h1>
                    Trung tâm mua sắm trực tuyến
                </h1>
                <h5>Điểm trung tâm của chương trình chuyên nghiệp</h5>
            </div>
            <img class="pull-right" src="~/images/header-object.png" />
        </header>

        <div class="navbar navbar-inverse row">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse">
                <!--Menu-->
                @Html.Partial("_Menu")
                <!--Menu-->
            </div>
        </div>

        <div class="nn-sheet row">
            <aside class="col-sm-3">
                <!--CartInfo-->
                @Html.Partial("_CartInfo")
                <!--/CartInfo-->
                <!--Search-->
                @Html.Partial("_Search")
                <!--/Search-->
                <!--Category-->
                @*@Html.Action("_Category", "Home")*@
                <!--/Category-->
                <!--Supplier-->
                @Html.Action("_Supplier", "Home")
                <!--/Supplier-->
                <!--Special-->
                @Html.Partial("_Special")
                <!--/Special-->
                <img style="width:100%" src="~/Content/Image/partners1.png" alt="bootstrap ecommerce templates">
                <img style="width:100%" src="~/Content/Image/partners1.png" alt="bootstrap ecommerce templates">
            </aside>

            <article class="col-sm-9">
              

                      <div class="well np">
                    <div id="myCarousel" class="carousel slide homCar">
                        <div class="carousel-inner">
                            <div class="item">
                                <img style="width:100%" src="~/Content/Image/partners1.png" alt="bootstrap ecommerce templates">
                                <div class="carousel-caption">
                                </div>
                            </div>
                            <div class="item">
                                <img style="width:100%" src="~/Content/Image/cropped-newbiestore-sneaker-banner-2.jpg" alt="bootstrap ecommerce templates">
                                <div class="carousel-caption">
                                </div>
                            </div>
                            <div class="item active">
                                <img style="width:100%" src="~/Content/Image/3c316e4.png" alt="bootstrap ecommerce templates">
                                <div class="carousel-caption">
                                </div>
                            </div>
                            <div class="item">
                                <img style="width:100%" src="~/Content/Image/fa4596ad9a9d39901eeb455ed4f74e44.jpg" alt="bootstrap templates">
                                <div class="carousel-caption">
                                </div>
                            </div>
                        </div>
                        <a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
                        <a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>
                    </div>
                </div>
                <div class="nn-body">

                    @RenderBody()
                </div>
            </article>


        </div>

        <section class="our_client">
            <hr class="soften" />
            <h4 class="title cntr"><span class="text">Nhà sản xuất</span></h4>
            <hr class="soften" />
            <div class="row">
                <div class="span2">
                    <a href="/Home/SPTheoMuc?madm=1"><img alt="" src="~/Content/Image/logoadidas01.jpg"></a>
                </div>
                <div class="span2">
                    <a href="/Home/SPTheoMuc?madm=2"><img alt="" src="~/Content/Image/logonike.jpg"></a>
                </div>
                <div class="span2">
                    <a href="/Home/SPTheoMuc?madm=3"><img alt="" src="~/Content/Image/logoconvot.png"></a>
                </div>
                <div class="span2">
                    <a href="/Home/SPTheoMuc?madm=4"><img alt="" src="~/Content/Image/logovan.jpg"></a>
                </div>
                <div class="span2">
                    <a href="/Home/SPTheoMuc?madm=5"><img alt="" src="~/Content/Image/logocroc.jpg"></a>
                </div>
               
            </div>
        </section>

        <!--
        Footer
        -->
        <footer class="footer">
            <div class="row-fluid">
                <div class="span2">
                    <h5>Giới thiệu về chúng tôi</h5>
                    <a href="#">Giới thiệu Dull Store</a><br>
                    <a href="#">Quy chế hoạt động</a><br>
                    <a href="#">Địa chỉ</a><br>
                    <a href="#">Giảm giá</a><br>
                </div>
                <div class="span2">
                    <h5>Dành cho người mua</h5>
                    <a href="contact.html">Bảo vệ người mua</a><br>
                    <a href="#"></a>Quy định đối với người mua<br>
                    <a href="#">Giải quyết khiếu nại</a><br>
                    <a href="#">Hướng dẫn người mua</a><br>
                    <a href="#">Câu hỏi thường gặp</a><br>
                </div>
                <div class="span2">
                    <h5>Dành cho người bán </h5>
                    <a href="#">Quy định đối với nhân viên</a> <br>
                    <a href="#">Chính sách bán hàng</a><br>
                    <a href="#">Hệ thống tiêu chí kiểm duyệt</a><br>
                    <a href="#">Các mức chế tài vi phạm</a><br>
                </div>
                <div class="span6">
                    <p>Công ty Cổ phần Văn Lang, thành viên tập đoàn 4 Group</p>
                    <p>Địa chỉ:Đại học văn lang</p>
                    <p>Email: vanlang@vanlanguni.vn</p>
                </div>
            </div>
        </footer>
    </div><!-- /container -->

    <div class="copyright">
        <div class="container">
            <p class="pull-right">
                <a href="#"><img src="~/Content/Image/fullbank - small.png" alt="payment"></a>
            </p>
            <span>Copyright &copy; 2019<br> Tập đoàn 4 Group</span>
        </div>
    </div>
    <a href="#" class="gotop"><i class="icon-double-angle-up"></i></a>
    <!-- Placed at the end of the document so the pages load faster -->
  
    
</body>
</html>