<!--
Au<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html>
<head>
    <title>4Twelve</title>
    <link rel="shortcut icon" href="~/Content 3/images/iconbaner.png">
    <!--css-->
    <link href="/Content 3/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <link href="/Content 3/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <link href="/Content 3/css/font-awesome.css" rel="stylesheet" />
    <!--css-->
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="New Shop Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <script src="/Content 3/js/jquery.min.js"></script>
    <link href='//fonts.googleapis.com/css?family=Cagliostro' rel='stylesheet' type='text/css' />
    <link href='//fonts.googleapis.com/css?family=Open+Sans:400,800italic,800,700italic,700,600italic,600,400italic,300italic,300' rel='stylesheet' type='text/css' />
    <!--search jQuery-->
    <script src="/Content 3/js/main.js"></script>
    <!--search jQuery-->
    <script src="/Content 3/js/responsiveslides.min.js"></script>
    <script src="~/Scripts/shopping-cart.js"></script>

    <script src="~/Scripts/jquery-ui-1.12.1.js"></script>
    <script>
        $(function () {
            $("#slider").responsiveSlides({
                auto: true,
                nav: true,
                speed: 500,
                namespace: "callbacks",
                pager: true,
            });
        });
    </script>
    <!--mycart-->
    <script type="text/javascript" src="/Content 3/js/bootstrap-3.1.1.min.js"></script>
    <!-- cart -->
    <script src="/Content 3/js/simpleCart.min.js"></script>
    <!-- cart -->
    <!--start-rate-->
    <script src="/Content 3/js/jstarbox.js"></script>
    <link rel="stylesheet" href="/Content 3/css/jstarbox.css" type="text/css" media="screen" charset="utf-8" />
    <script type="text/javascript">
        jQuery(function () {
            jQuery('.starbox').each(function () {
                var starbox = jQuery(this);
                starbox.starbox({
                    average: starbox.attr('data-start-value'),
                    changeable: starbox.hasClass('unchangeable') ? false : starbox.hasClass('clickonce') ? 'once' : true,
                    ghosting: starbox.hasClass('ghosting'),
                    autoUpdateAverage: starbox.hasClass('autoupdate'),
                    buttons: starbox.hasClass('smooth') ? false : starbox.attr('data-button-count') || 5,
                    stars: starbox.attr('data-star-count') || 5
                }).bind('starbox-value-changed', function (event, value) {
                    if (starbox.hasClass('random')) {
                        var val = Math.random();
                        starbox.next().text(' ' + val);
                        return val;
                    }
                })
            });
        });
    </script>


    <!--//End-rate-->
</head>
<body>
    <!--header-->
    
    <div class="header">
        <div class="navbar-fixed-top">
            <div class="header-top">

                <div class="container">
                    <div class="top-left">
                        <a href="#"> Hỗ trợ  <i class="glyphicon glyphicon-phone" aria-hidden="true"></i> +084XXXXXXXXX</a>
                    </div>
                    @Html.Partial("_Login")

                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        <br />
        <div class="heder-bottom">
            <div class="container">
                <div class="logo-nav">
                    <div class="logo-nav-left">
                        <h1><a href="/Home/Index">4Twelve Shop <span>   Shop anywhere</span></a></h1>
                    </div>
                    <div class="logo-nav-left1">
                        <nav class="navbar navbar-default">
                            <!-- Brand and toggle get grouped for better mobile display -->
                            <div class="navbar-header nav_2">
                                <button type="button" class="navbar-toggle collapsed navbar-Execution of the child request failed. Please examine the InnerException for more informationtoggle1" data-toggle="collapse" data-target="#bs-megadropdown-tabs">
                                    <span class="sr-only">Chuyển đổi điều hướng</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                            </div>
                            @Html.Action("_Supplier", "Home")
                           
                        </nav>
                    </div>
                    @Html.Partial("_Search")
                    @Html.Partial("_CartInfo")
                    <div class="clearfix"> </div>
                </div>
            </div>
        </div>
    </div>
    
    <!--header-->
    <!--banner-->
   
    <!--banner-->
    <!--content-->
    <div class="content">
        <!--banner-bottom-->
        <!--banner-bottom-->
        <!--new-arrivals-->
        @RenderBody()
        <!--new-arrivals-->
        <!--accessories-->
        <!--accessories-->
        <!--Products-->
        <!--new-arrivals-->
    </div>
    <!--content-->
    <!---footer--->
    <div class="footer-w3l">
        <div class="container">
            <div class="footer-grids">
                <div class="col-md-3 footer-grid">
                    <h4>About </h4>
                    <p>4Twelve</p>
                    <div class="social-icon">
                        <a href="https://www.facebook.com/"><i class="icon"></i></a>
                        <a href="#"><i class="icon1"></i></a>
                        <a href="#"><i class="icon2"></i></a>
                        <a href="#"><i class="icon3"></i></a>
                    </div>
                </div>
                <div class="col-md-3 footer-grid">
                    <h4>Tài khoản của tôi</h4>
                    <ul>

                        <li><a href="/Account/Login">Đăng nhập</a></li>
                        <li><a href="/Account/Register"> Tạo tài khoản </a></li>
                        <li><a href="FeedBack/SendFeedback"> Phản Hồi </a></li>

                    </ul>
                </div>
                <div class="col-md-3 footer-grid">
                    <h4>Thông báo</h4>
                    <ul>
                        <li><a href="/Home/Index">Trang chủ</a></li>
                        <li><a href="products.html">Sản Phẩm</a></li>

                        
                    
                    </ul>
                </div>
                <div class="col-md-3 footer-grid foot">
                    <h4>Thông tin liên hệ</h4>
                    <ul>
                        <li><i class="glyphicon glyphicon-map-marker" aria-hidden="true"></i><a href="#">4Twelve Shop, Ho Chi Minh, VietNam</a></li>
                        <li><i class="glyphicon glyphicon-earphone" aria-hidden="true"></i><a href="#">01277 472 472</a></li>
                        <li><i class="glyphicon glyphicon-envelope" aria-hidden="true"></i><a href=""> 4TwelveShop@gmail.com</a></li>

                    </ul>
                </div>
                <div class="clearfix"> </div>
            </div>

        </div>
    </div>
    <!---footer--->
    <!--copy-->
    <div class="copy-section">
        <div class="container">
            <div class="copy-left">
                <p>&copy; 2019 4Twelve Shop . All rights reserved | Design by <a href="">4Twelve Team</a></p>
            </div>
            <div class="copy-right">
                <img src="images/card.png" alt="" />
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <!--copy-->
    <div class="modal fade" id="myModal1" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content modal-info">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                    <div class="news-gr">
                        <div class="col-md-5 new-grid1">
                            <img src="images/p5.jpg" class="img-responsive" alt="" />
                        </div>
                        <div class="col-md-7 new-grid">
                            <h5>Ten Women's Cotton Viscose fabric Grey Shrug</h5>
                            <h6>Quick Overview</h6>
                            <span>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</span>
                            <div class="color-quality">
                                <div class="color-quality-left">
                                    <h6>Color : </h6>
                                    <ul>
                                        <li><a href="#"><span></span>Red</a></li>
                                        <li><a href="#" class="brown"><span></span>Yellow</a></li>
                                        <li><a href="#" class="purple"><span></span>Purple</a></li>
                                        <li><a href="#" class="gray"><span></span>Violet</a></li>
                                    </ul>
                                </div>
                                <div class="color-quality-right">
                                    <h6>Quality :</h6>
                                    <div class="quantity">
                                        <div class="quantity-select">
                                            <div class="entry value-minus1">&nbsp;</div>
                                            <div class="entry value1"><span>1</span></div>
                                            <div class="entry value-plus1 active">&nbsp;</div>
                                        </div>
                                    </div>
                                    <!--quantity-->
                                    <script>
                                        $('.value-plus1').on('click', function () {
                                            var divUpd = $(this).parent().find('.value1'), newVal = parseInt(divUpd.text(), 10) + 1;
                                            divUpd.text(newVal);
                                        });

                                        $('.value-minus1').on('click', function () {
                                            var divUpd = $(this).parent().find('.value1'), newVal = parseInt(divUpd.text(), 10) - 1;
                                            if (newVal >= 1) divUpd.text(newVal);
                                        });
                                    </script>
                                    <!--quantity-->
                                </div>
                                <div class="clearfix"> </div>
                            </div>
                            <div class="women">
                                <span class="size">XL / XXL / S </span>
                                <p><del>$100.00</del><em class="item_price"> $70.00 </em></p>
                                <div class="add">
                                    <button class="btn btn-danger my-cart-btn my-cart-b" data-id="3" data-name="Kabuli Chana" data-summary="summary 3" data-price="2.00" data-quantity="1" data-image="images/of2.png">Add to Cart</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="myModal2" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content modal-info">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                    <div class="news-gr">
                        <div class="col-md-5 new-grid1">
                            <img src="images/p7.jpg" class="img-responsive" alt="" />
                        </div>
                        <div class="col-md-7 new-grid">
                            <h5>Ten Women's Cotton Viscose fabric Grey Shrug</h5>
                            <h6>Quick Overview</h6>
                            <span>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</span>
                            <div class="color-quality">
                                <div class="color-quality-left">
                                    <h6>Color : </h6>
                                    <ul>
                                        <li><a href="#"><span></span>Red</a></li>
                                        <li><a href="#" class="brown"><span></span>Yellow</a></li>
                                        <li><a href="#" class="purple"><span></span>Purple</a></li>
                                        <li><a href="#" class="gray"><span></span>Violet</a></li>
                                    </ul>
                                </div>
                                <div class="color-quality-right">
                                    <h6>Quality :</h6>
                                    <div class="quantity">
                                        <div class="quantity-select">
                                            <div class="entry value-minus1">&nbsp;</div>
                                            <div class="entry value1"><span>1</span></div>
                                            <div class="entry value-plus1 active">&nbsp;</div>
                                        </div>
                                    </div>
                                    <!--quantity-->
                                    <script>
                                        $('.value-plus1').on('click', function () {
                                            var divUpd = $(this).parent().find('.value1'), newVal = parseInt(divUpd.text(), 10) + 1;
                                            divUpd.text(newVal);
                                        });

                                        $('.value-minus1').on('click', function () {
                                            var divUpd = $(this).parent().find('.value1'), newVal = parseInt(divUpd.text(), 10) - 1;
                                            if (newVal >= 1) divUpd.text(newVal);
                                        });
                                    </script>
                                    <!--quantity-->
                                </div>
                                <div class="clearfix"> </div>
                            </div>
                            <div class="women">
                                <span class="size">XL / XXL / S </span>
                                <p><del>$100.00</del><em class="item_price"> $70.00 </em></p>
                                <div class="add">
                                    <button class="btn btn-danger my-cart-btn my-cart-b" data-id="3" data-name="Kabuli Chana" data-summary="summary 3" data-price="2.00" data-quantity="1" data-image="images/of2.png">Add to Cart</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="myModal3" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content modal-info">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                    <div class="news-gr">
                        <div class="col-md-5 new-grid1">
                            <img src="images/p10.jpg" class="img-responsive" alt="" />
                        </div>
                        <div class="col-md-7 new-grid">
                            <h5>Ten Men's Cotton Viscose fabric Grey Shrug</h5>
                            <h6>Quick Overview</h6>
                            <span>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</span>
                            <div class="color-quality">
                                <div class="color-quality-left">
                                    <h6>Color : </h6>
                                    <ul>
                                        <li><a href="#"><span></span>Red</a></li>
                                        <li><a href="#" class="brown"><span></span>Yellow</a></li>
                                        <li><a href="#" class="purple"><span></span>Purple</a></li>
                                        <li><a href="#" class="gray"><span></span>Violet</a></li>
                                    </ul>
                                </div>
                                <div class="color-quality-right">
                                    <h6>Quality :</h6>
                                    <div class="quantity">
                                        <div class="quantity-select">
                                            <div class="entry value-minus1">&nbsp;</div>
                                            <div class="entry value1"><span>1</span></div>
                                            <div class="entry value-plus1 active">&nbsp;</div>
                                        </div>
                                    </div>
                                    <!--quantity-->
                                    <script>
                                        $('.value-plus1').on('click', function () {
                                            var divUpd = $(this).parent().find('.value1'), newVal = parseInt(divUpd.text(), 10) + 1;
                                            divUpd.text(newVal);
                                        });

                                        $('.value-minus1').on('click', function () {
                                            var divUpd = $(this).parent().find('.value1'), newVal = parseInt(divUpd.text(), 10) - 1;
                                            if (newVal >= 1) divUpd.text(newVal);
                                        });
                                    </script>
                                    <!--quantity-->
                                </div>
                                <div class="clearfix"> </div>
                            </div>
                            <div class="women">
                                <span class="size">XL / XXL / S </span>
                                <p><del>$100.00</del><em class="item_price"> $70.00 </em></p>
                                <div class="add">
                                    <button class="btn btn-danger my-cart-btn my-cart-b" data-id="3" data-name="Kabuli Chana" data-summary="summary 3" data-price="2.00" data-quantity="1" data-image="images/of2.png">Add to Cart</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="myModal4" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content modal-info">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                    <div class="news-gr">
                        <div class="col-md-5 new-grid1">
                            <img src="images/p12.jpg" class="img-responsive" alt="" />
                        </div>
                        <div class="col-md-7 new-grid">
                            <h5>Ten Men's Cotton Viscose fabric Grey Shrug</h5>
                            <h6>Quick Overview</h6>
                            <span>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</span>
                            <div class="color-quality">
                                <div class="color-quality-left">
                                    <h6>Color : </h6>
                                    <ul>
                                        <li><a href="#"><span></span>Red</a></li>
                                        <li><a href="#" class="brown"><span></span>Yellow</a></li>
                                        <li><a href="#" class="purple"><span></span>Purple</a></li>
                                        <li><a href="#" class="gray"><span></span>Violet</a></li>
                                    </ul>
                                </div>
                                <div class="color-quality-right">
                                    <h6>Quality :</h6>
                                    <div class="quantity">
                                        <div class="quantity-select">
                                            <div class="entry value-minus1">&nbsp;</div>
                                            <div class="entry value1"><span>1</span></div>
                                            <div class="entry value-plus1 active">&nbsp;</div>
                                        </div>
                                    </div>
                                    <!--quantity-->
                                    <script>
                                        $('.value-plus1').on('click', function () {
                                            var divUpd = $(this).parent().find('.value1'), newVal = parseInt(divUpd.text(), 10) + 1;
                                            divUpd.text(newVal);
                                        });

                                        $('.value-minus1').on('click', function () {
                                            var divUpd = $(this).parent().find('.value1'), newVal = parseInt(divUpd.text(), 10) - 1;
                                            if (newVal >= 1) divUpd.text(newVal);
                                        });
                                    </script>
                                    <!--quantity-->
                                </div>
                                <div class="clearfix"> </div>
                            </div>
                            <div class="women">
                                <span class="size">XL / XXL / S </span>
                                <p><del>$100.00</del><em class="item_price"> $70.00 </em></p>
                                <div class="add">
                                    <button class="btn btn-danger my-cart-btn my-cart-b" data-id="3" data-name="Kabuli Chana" data-summary="summary 3" data-price="2.00" data-quantity="1" data-image="images/of2.png">Add to Cart</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>

</body>
@RenderSection("scripts", required: false)
</html>