
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="content">
    <div class="products-agileinfo">
        <h2 class="tittle">Your Cart</h2>
        <div class="container">
            <div class="product-agileinfo-grids w3l">
                <div class="col-md-3 product-agileinfo-grid">
                    @Html.Action("_Supp", "Home")

                    <div class="cat-img">
                        <img class="img-responsive " src="~/Content 3/images/45.jpg" alt="">
                    </div>
                    <br />
                    <div class="categories">
                        <h3>Đặt biệt</h3>
                        <ul class="tree-list-pad">


                            <strong>
                                <li><a href="~/Product/ListBySpecial/BEST">Bán chạy nhất</a></li>

                                <li> <a href="~/Product/ListBySpecial/LATEST">Sản Phẩm mới</a></li>

                                <li><a href="~/Product/ListBySpecial/PROMO">Sản phẩm giảm giá</a></li>

                                <li><a href="~/Product/ListBySpecial/SPECIAL">Sản phẩm đặc biệt</a></li>

                                <li><a href="~/Product/ListBySpecial/VIEWS">Sản phẩm được xem nhiều nhất</a></li>
                            </strong>



                        </ul>
                    </div>
                </div>

                <div class="col-md-9 product-agileinfon-grid1">
                    <div class="product-agileinfon-top">
                        <div class="col-md-6 product-agileinfon-top-left">
                            <img class="img-responsive " src="~/Content 3images/img3.jpg" alt="">
                        </div>
                        <div class="col-md-6 product-agileinfon-top-left">
                            <img class="img-responsive " src="~/Content 3images/img4.jpg" alt="">
                        </div>
                        <div class="clearfix"></div>
                    </div>

                    <div class="bs-example bs-example-tabs" role="tabpanel" data-example-id="togglable-tabs">


                        <div id="myTabContent" class="tab-content">
                            <div role="tabpanel" class="tab-pane fade in active" id="home" aria-labelledby="home-tab">

                                <ul class="breadcrumb">
                                    <li><a href="~/Home/Index">Trang chủ</a> <span class="divider"></span></li>
                                    <li class="active">Giỏ hàng của bạn</li>
                                </ul>

                                @if (ShoppingCart.Cart.Count == 0)
                                {
                                    <h2>Giỏ hàng trống</h2>
                                }
                                else
                                {
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th><strong style="color:red">Tên</strong></th>
                                                <th><strong style="color:red">Hình ảnh</strong></th>
                                                <th><strong style="color:red">Đơn giá</strong></th>
                                                <th><strong style="color:red">Khuyến mãi</strong></th>
                                                <th><strong style="color:red">Số lượng </strong></th>
                                                <th><strong style="color:red">Số tiền</strong></th>
                                            </tr>
                                        </thead>
                                        <tbody>

                                            @foreach (var p in ShoppingCart.Cart.Items)
                                            {
                                                <tr>
                                                    <td>@p.Name</td>
                                                    <td width="100">
                                                        <img style="width:100%" src="~/images/products/@p.Image" />
                                                    </td>
                                                    <td>@string.Format("{0:0,0}", p.UnitPrice)</td>
                                                    <td>@p.Discount</td>
                                                    <td>
                                                        <input type="number" name="name" value="@p.Quantity" min="1" style="width:50px" data-update-cart="@p.Id" />
                                                    </td>
                                                    <td><span>@(p.Quantity * p.UnitPrice * (1 - p.Discount)) VNĐ</span></td>

                                                    <td>
                                                        <button class="btn btn-sm btn-danger" data-remove-from-cart="@p.Id">
                                                            <span class="glyphicon glyphicon-trash"></span>
                                                        </button>
                                                    </td>


                                                </tr>
                                            }

                                            <tr>
                                                <th></th>
                                                <th></th>
                                                <th></th>
                                                <th></th>
                                                <th style="color:red"> Tổng cộng:</th>
                                                <th style="color:black"><center><span id="table-cart-amt">@ShoppingCart.Cart.Amount </span>VNĐ</center> </th>
                                            </tr>

                                        </tbody>

                                    </table>
                                    <center>
                                        <div>
                                            <a href="~/Cart/Clear" class="btn btn-warning">Xóa giỏ hàng</a>
                                            <a href="~/Order/Checkout" class="btn btn-success">
                                                Thanh toán
                                            </a>
                                            <a href="@Session["BackUrl"]" class="btn btn-info">Tiếp tục mua hàng</a>
                                        </div>
                                    </center>

                                }

                                <br />


                            </div>

                        </div>
                    </div>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
    </div>
</div>

