@model Laptopshop.Models.Product
@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .nn-prod {
        text-align: center;
        font-size: smaller;
    }

        .nn-prod .panel-body img {
            height: 200px;
            max-width: 95%;
        }

        .nn-prod .nn-price {
            font-size: 20px;
            font-family: Impact;
            color: white;
            text-shadow: 0 0 2px black;
        }

        .nn-prod .panel-footer {
            height: 50px;
        }

        .nn-prod .panel {
            position: relative;
        }

            .nn-prod .panel .nn-feature {
                position: absolute;
                top: 0px;
                right: 0px;
            }
</style>
    <div class="content">
        <!--single-->
        <div class="single-wl3">
            <div class="container">
                <div class="single-grids">
                    <div class="col-md-9 single-grid">
                        <div clas="single-top">
                            <div class="single-left">
                                <div class="flexslider">
                                    <ul class="slides">

                                        <div class="thumb-image"> <img src="~/images/products/@Model.Image" data-imagezoom="true" class="img-responsive"> </div>


                                    </ul>
                                </div>
                            </div>
                            <div class="single-right simpleCart_shelfItem">
                                <h4>@Model.Name</h4>
                                <div class="block">
                                    <div class="starbox small ghosting"> </div>
                                </div>
                                @if (Model.Discount == 0)
                                {
                                    <p class="price item_price">@string.Format("{0:0,0}", Model.UnitPrice) VNĐ</p>
                                }
                                else
                                {
                                    <strike><p style="color:#34495E" class="price item_price">@string.Format("{0:0,0}", Model.UnitPrice) VNĐ</p></strike>
                                    <p class="price item_price">@string.Format("{0:0,0}", (Model.UnitPrice * (1 - Model.Discount))) VNĐ</p>
                                }

                                <div class="description">
                                    <p><span>Giảm giá : </span><strong style="color:red">@(Model.Discount * 100)%</strong></p>
                                </div>
                                <div class="description">
                                    <p><span>Thương hiệu : </span><strong style="color:red">@Model.Supplier.Name</strong></p>
                                </div>
                                <div class="description">
                                    <p><span>Kích cở giày : </span><strong style="color:red">@Model.Size.Size1</strong></p>
                                </div>
                                <div class="description">
                                    <p><span>Mô tả : </span><strong style="color:red">@Model.Description</strong></p>
                                </div>



                                <div class="social-icon">
                                    <a href="#"><i class="icon"></i></a>
                                    <a href="#"><i class="icon1"></i></a>
                                    <a href="#"><i class="icon2"></i></a>
                                    <a href="#"><i class="icon3"></i></a>
                                </div>
                                <button class="my-cart-b item_add" data-add-to-cart="@Model.Id">
                                    Thêm vào giỏ hàng
                                </button>

                            </div>
                            <div class="clearfix"> </div>
                        </div>
                    </div>

                </div>
                <div class="clearfix"> </div>
                <div class="">
                    <div class="row nn-thumb" style="padding:10px;">
                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs" role="tablist">
                            <li role="presentation" class="active"><a href="#comments" aria-controls="comments" role="tab" data-toggle="tab">Bình luận</a></li>
                            <li role="presentation"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Sản phẩm cùng thương hiệu</a></li>


                            <li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">Các sản phẩm đã xem</a></li>

                        </ul>

                        <!-- Tab panes -->
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane " id="home">
                                <fieldset>
                                    @foreach (var p in Model.Supplier.Products)
                                    {
                                        <a href="~/Product/Detail/@p.Id">
                                            <img src="~/images/products/@p.Image" />
                                        </a>
                                    }
                                </fieldset>
                            </div>
                            <div role="tabpanel" class="tab-pane" id="profile">
                                <fieldset>
                                    @foreach (var p in Model.Supplier.Products)
                                    {
                                        <a href="~/Product/Detail/@p.Id">
                                            <img src="~/images/products/@p.Image" />
                                        </a>
                                    }
                                </fieldset>
                            </div>
                            <div role="tabpanel" class="tab-pane" id="messages">
                                <fieldset>
                                    @foreach (var p in ViewBag.Views)
                                    {
                                        <a href="~/Product/Detail/@p.Id">
                                            <img src="~/images/products/@p.Image" />
                                        </a>
                                    }
                                </fieldset>
                            </div>
                            <div role="tabpanel" class="tab-pane active" id="comments">
                                <fieldset>
                                    <div class="fb-comments" data-href="https://localhost:44373/Product/Detail/@Model.Id" data-numposts="5"></div>

                                </fieldset>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"> </div>
                </div>
            </div>

            <!--Product Description-->
            <!--Product Description-->
        </div>
    </div>
    <meta http-equiv=”Content-Type” content=”text/html; charset=utf-8″>
<!--single-->
<div class="new-arrivals-w3agile">
    <div class="container">
        <h3 class="tittle1">Sản phẩm cùng nhà cung cấp</h3>
        <div class="arrivals-grids">


            @foreach (var item in Model.Supplier.Products)
            {
                <div class="col-md-3 arrival-grid simpleCart_shelfItem">

                    <div class="grid-arrival">
                        <div class="panel panel-default">
                            <div class="panel-heading">@item.Name</div>
                            <figure>
                                <div class="panel-body">
                                    <a href="~/Product/Detail/@item.Id" class="new-gri">
                                        <div class="ban-top">
                                            <img width="150" height="200" src="~/images/products/@item.Image" data-product-id="@item.Id" class="gw-draggable" />
                                        </div>

                                    </a>
                                </div>
                            </figure>

                            <div class="block">
                                <div class="starbox small ghosting"> </div>
                            </div>
                            <div class="women">
                                @if (item.Discount == 0)
                                {
                                    <p><h3><em style="color:red" class="item_price">@string.Format("{0:0,0}", @item.UnitPrice) VNĐ</em></h3></p>
                                }
                                else
                                {

                                    <p>
                                        <h3>
                                            <strike style="color:silver"><em class="item_price">@string.Format("{0:0,0}", @item.UnitPrice) VNĐ</em></strike>
                                            <em style="color:red" class="item_price">@string.Format("{0:0,0}", (@item.UnitPrice * (1 - item.Discount))) VNĐ</em>
                                        </h3>
                                    </p>
                                }

                                <button class="my-cart-b item_add" data-add-to-cart="@item.Id">
                                    Thêm vào giỏ hàng
                                </button>
                            </div>
                        </div>
                    </div>

                </div>
            }

            <div class="clearfix"></div>
        </div>
    </div>
</div>
<!--new-arrivals-->




<style>
    .nn-thumb img {
        width: 60px;
        height: 60px;
        padding: 3px;
        margin: 2px;
        border-radius: 4px;
        border: 1px dotted gray;
    }
</style>
@section scripts{
    <div id="fb-root"></div>
    <script>
        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = 'https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.12&appId=158303218171066&autoLogAppEvents=1';
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>
}