@model PagedList.PagedList<Laptopshop.Models.Product>
@using PagedList;
@using PagedList.Mvc;
@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/jquery.shorten.1.0.js"></script>
<script type="text/javascript">
        $(".panel-heading").shorten({
            "showChars": 20,
        });
</script>
<div class="content">
    <div class="products-agileinfo">
        <h2 class="tittle">Sản phẩm đặc biệt</h2>
        <div class="container">
            <div class="product-agileinfo-grids w3l">
                <div class="col-md-3 product-agileinfo-grid">
                    @Html.Action("_Supp", "Home")

                    <div class="cat-img">
                        <img class="img-responsive " src="~/Content 3/images/45.jpg" alt="">
                    </div>
                    <br />
                    <div class="categories">
                        <h3>Đặc biệt</h3>
                        <ul class="tree-list-pad">


                            <strong>
                                <li><a href="~/Product/ListBySpecial/BEST">Bán chạy nhất</a></li>

                                <li> <a href="~/Product/ListBySpecial/LATEST">Sản Phẩm mới</a></li>

                                <li><a href="~/Product/ListBySpecial/PROMO">Sản phẩm giảm giá</a></li>

                                <li><a href="~/Product/ListBySpecial/SPECIAL">Sản phẩm đặc biệt</a></li>

                                <li><a href="~/Product/ListBySpecial/VIEWS">Sản phẩm được xem nhiều nhất</a></li>
                            </strong>



                        </ul>

                    </div>
                </div>

                <div class="col-md-9 product-agileinfon-grid1">
                    <div class="product-agileinfon-top">
                        <div class="col-md-6 product-agileinfon-top-left">
                            <img class="img-responsive " src="~/Content 3images/img3.jpg" alt="">
                        </div>
                        <div class="col-md-6 product-agileinfon-top-left">
                            <img class="img-responsive " src="~/Content 3images/img4.jpg" alt="">
                        </div>
                        <div class="clearfix"></div>
                    </div>

                    <div class="bs-example bs-example-tabs" role="tabpanel" data-example-id="togglable-tabs">


                        <div id="myTabContent" class="tab-content">
                            <div role="tabpanel" class="tab-pane fade in active" id="home" aria-labelledby="home-tab">

                                <div class="product-tab">
                                    @foreach (var item in Model)

                                    {
                                        <div class="col-md-4 product-tab-grid simpleCart_shelfItem">

                                            <div class="grid-arrival">
                                                <div class="panel panel-default">
                                                    <div class="panel-heading">@item.Name</div>
                                                    <figure>
                                                        <div class="panel-body">
                                                            <a href="~/Product/Detail/@item.Id" @*class="new-gri" data-toggle="modal" data-target="#myModal4"*@>
                                                                <div class="ban-top">
                                                                    <img width="150" height="200" src="~/images/products/@item.Image" data-product-id="@item.Id" class="gw-draggable" />
                                                                </div>

                                                            </a>
                                                        </div>
                                                    </figure>

                                                    <div class="block">
                                                        <div class="starbox small ghosting"> </div>
                                                    </div>
                                                    <div class="women">
                                                        <h6><a href="~/Product/Detail/@item.Id">Chi Tiết</a></h6>

                                                        @if (item.Discount == 0)
                                                        {
                                                            <p> <h3><em style="color:red" class="item_price">@string.Format("{0:0,0}", @item.UnitPrice) VNĐ</em></h3></p>
                                                        }
                                                        else
                                                        {


                                                            <p>
                                                                <h3>
                                                                    @*<strike><em class="item_price">@string.Format("{0:0,0}", @item.UnitPrice) VNĐ</em></strike>*@

                                                                    <em style="color:red" class="item_price">@string.Format("{0:0,0}", (@item.UnitPrice * (1 - item.Discount))) VNĐ</em>
                                                                </h3>
                                                            </p>

                                                        }

                                                    </div>
                                                    <button class="my-cart-b item_add" data-add-to-cart="@item.Id">
                                                        Thêm vào giỏ hàng
                                                    </button>
                                                </div>
                                            </div>


                                        </div>

                                    }
                                    <div class="clearfix"></div>

                                </div>


                            </div>

                        </div>
                    </div>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
    </div>
</div>
<div class="clear"></div>
<center>
    <div class="pagination">
        @Html.PagedListPager(Model, trang => Url.Action("ListBySpecial", new { trang = trang }))
    </div>
</center>

