@model PagedList.PagedList<Report>
@using PagedList;
@using PagedList.Mvc;
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<section class="content-header">
    <h1>
        Report
        <small>Revenue By Year</small>
    </h1>

</section>
<div id="piechart_3d" style="width: 900px; height: 300px;"></div>


<table class="table table-bordered">
    <tr>
        <th>
            Year
        </th>
        <th>
            Total Products
        </th>
        <th>
            Total Revenue
        </th>
        <th>
            Min Price
        </th>
        <th>
            Max Price
        </th>
        <th>
            Avg Price
        </th>



    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @item.Group @if (item.yGroup != 0)
                {@item.yGroup}
            </td>
            <td>
                @item.Count
            </td>
            <td>
                @Html.FormatValue(item.Sum, "{0:c}")
            </td>
            <td>
                @Html.FormatValue(item.Min, "{0:c}")
            </td>
            <td>
                @Html.FormatValue(item.Max, "{0:c}")
            </td>
            <td>
                @Html.FormatValue(item.Avg, "{0:c}")
            </td>


        </tr>
    }

</table>
@section scripts{
    <script>
        $(function () {
            $("fieldset #date").datepicker({
                dateFormat: 'yy-mm-dd'
            });
        });
    </script>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
    google.load("visualization", "1", { packages: ["corechart"] });
    google.setOnLoadCallback(drawChart);
    function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['Loai', 'Doanh so'],
          @foreach (var r in Model)
          {
              <text>["@r.Group", @r.Sum],</text>
          }
            ]);

        var options = {
            title: 'Doanh so ban hang',
            is3D: true,
        };

        var chart = new google.visualization.PieChart(document.getElementById('piechart_3d'));
        chart.draw(data, options);
    }
    </script>

}
@*@section scripts{
    <script>
        $(function () {
            $("fieldset #From").datepicker({ dateFormat: 'yy-mm-dd' } );
        });
    </script>
    }*@
<div class="pagination">
    @Html.PagedListPager(Model, trang => Url.Action("Year", new { trang = trang }))
</div>







