@model IEnumerable<Report>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<section class="content-header">
    <h1>

        Bài báo cáo
        Doanh thu theo năm
    </h1>

</section>


<div class="box">
    <div class="box-header">
        <strong>
            Doanh thu theo năm
        </strong>
    </div>
    <!-- /.box-header -->
    <div class="box-body">
        <div id="chartContainer" style="height: 300px; width: 100%;"></div>
        <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>

        <table id="example" class="display" style="width:100%">
            <thead>
                <tr>

                    <th>
                        Năm
                        </th>
                    <th>
                        Tổng sản phẩm
                        </th>
                    <th>
                        Tổng doanh thu
                        </th>
                    <th>
                        Giá tối thiểu
                        </th>
                    <th>
                        Giá tối đa
                        </th>
                    <th>
                        Giá trung bình
                        </th>



                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                <tr>
                    <td>
                        @item.Group @if (item.yGroup != 0)
                        {@item.yGroup}
                    </td>
                    <td>
                        @item.Count
                    </td>
                    <td>
                        @string.Format("{0:0,0}", item.Sum) VNĐ

                    </td>
                    <td>
                        @string.Format("{0:0,0}", item.Min) VNĐ
                    </td>
                    <td>
                        @string.Format("{0:0,0}", item.Max) VNĐ

                    </td>
                    <td>
                        @string.Format("{0:0,0}", item.Avg) VNĐ
                    </td>


                </tr>
                }
            </tbody>
            <tfoot>
                <tr>

                    <th>
                        Năm
                        </th>
                    <th>
                        Tổng sản phẩm
                        </th>
                    <th>
                        Tổng doanh thu
                        </th>
                    <th>
                        Giá tối thiểu
                        </th>
                    <th>
                        Giá tối đa
                        </th>
                    <th>
                        Giá trung bình
                        </th>
                </tr>
            </tfoot>
        </table>
    </div>
    <!-- /.box-body -->
</div>

@section scripts{
    <script>
        window.onload = function () {
            var chart = new CanvasJS.Chart("chartContainer", {
                exportEnabled: true,
                animationEnabled: true,
                title: {
                    text: "Report By Year"
                },
                axisX: {
                    interval: 1
                },
                axisY2: {
                    interlacedColor: "rgba(1,77,101,.2)",
                    gridColor:  "rgba(1,77,101,.1)",
                    title: "IN USD"
                },
                data: [{
                    type: "bar",
                    name: "companies",
                    axisYType: "secondary",
                    color: "#014D65",
                    dataPoints: [
                         @foreach (var r in Model)
                     {
                        <text> {  y: @r.Sum, label: "@r.yGroup"},</text>

              }
                    ]
                }]
            });
            chart.render();
        }
    </script>
    <script type="text/javascript" src="jquery-1.12.0.min.js"></script>

    <script type="text/javascript" src="https://cdn.datatables.net/tabletools/2.2.4/js/dataTables.tableTools.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/tabletools/2.2.2/swf/copy_csv_xls_pdf.swf"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.11/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.1.2/js/dataTables.buttons.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.1.2/js/buttons.flash.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/2.5.0/jszip.min.js"></script>
    <script type="text/javascript" src="https://cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/pdfmake.min.js"></script>
    <script type="text/javascript" src="https://cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/vfs_fonts.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.1.2/js/buttons.html5.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.1.2/js/buttons.print.min.js"></script>

    <script>
        $(document).ready(function () {
            $('#example').DataTable({
                dom: 'Bfrtip',
                buttons: [
                    'copy', 'csv', 'excel', 'pdf', 'print'
                ]
            });
        });
    </script>
}



