@model Laptopshop.Models.Order

@using Laptopshop.Models
@{

    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Order Chi tiết</h2>

<fieldset>

    <div class="row">
        @Html.HiddenFor(m => m.Id)
        <div class="form-group col-sm-6">
            <label>
                khách hàng
            </label>
            @Html.TextBoxFor(m => m.CustomerId, new { @class = "form-control", @readonly = true })
        </div>
        <div class="form-group col-sm-6">
            <label>Ngày đặt hàng</label>
            @Html.TextBoxFor(m => m.OrderDate, "{0:yyyy-MM-dd}", new { @class = "form-control", @readonly = true })
        </div>
    </div>
    <div class="row">
        <div class="form-group col-sm-6">
            <label>
                Người nhận
            </label>
            @Html.TextBoxFor(m => m.Receiver, new { @class = "form-control", @readonly = true })
        </div>
        <div class="form-group col-sm-6">
            <label>
                Ngày giao hàng
            </label>
            @Html.TextBoxFor(m => m.RequireDate, "{0:yyyy-MM-dd}", new { @class = "form-control nn-date", @readonly = true })
        </div>
    </div>
    <div class="row">
        <div class="form-group col-sm-6">
            <label>Tình trạng giao hàng</label>
            @Html.TextBoxFor(m => m.DeliveryStatus, new { @class = "form-control", @readonly = true })
        </div>
        <div class="form-group col-sm-6">

            <label>Số tiền</label>
            @Html.TextBoxFor(m => m.Amount, new { @class = "form-control", @readonly = true })
        </div>
        <div class="form-group col-sm-6">
            <label>Địa chỉ</label>
            @Html.TextBoxFor(m => m.Address, new { @class = "form-control", @readonly = true })
        </div>
        <div class="form-group col-sm-6">
            <label>Ghi chú</label>
            @Html.TextBoxFor(m => m.Description, new { @class = "form-control", rows = 4, @readonly = true })
        </div>

    </div>

</fieldset>


    
    <div class="box">
        <div class="box-header">
            <strong>
                Dòng đặt hàng
            </strong>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
            <table id="example" class="display" style="width:100%">
                <thead>
                    <tr>
                        <th><strong style="color:mediumvioletred">Tên</strong></th>
                        <th><strong style="color:mediumvioletred">Đơn giá</strong></th>
                        <th><strong style="color:mediumvioletred">Khuyến mãi</strong></th>
                        <th><strong style="color:mediumvioletred">Số lượng</strong></th>
                        <th><strong style="color:mediumvioletred">Số tiền</strong></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var detail in Model.OrderDetails)
                    {
                        <tr>
                            <td><strong style="color:black">@detail.Product.Name</strong></td>
                            <td><strong style="color:black">@detail.UnitPrice</strong></td>
                            <td><strong style="color:black">@detail.Discount</strong></td>
                            <td><strong style="color:black">@detail.Quantity</strong></td>
                            <td><strong style="color:black">@string.Format("{0:0,0}",(detail.Quantity * detail.UnitPrice * (1 - detail.Discount)))</strong></td>

                        </tr>
                    }
                  
                </tbody>
                <tfoot>
                    <tr>
                        <th colspan="4" style="text-align:right"><strong style="color:red">Tổng tiền:</strong></th>
                        <th style="color:black">@string.Format("{0:0,0}", @Model.OrderDetails.Sum(b => b.UnitPrice * b.Quantity * (1 - b.Discount)))  VNĐ </th>

                    </tr>
                    

                </tfoot>
            </table>
            </div>
        </div>



<div class="clearfix"> </div>







<style>
    #ui-datepicker-div {
        z-index: 2000 !important;
    }
</style>

<div>
    @Html.ActionLink("Back", "ListHoaDon")
</div>
@section scripts{
    <script type="text/javascript" src="jquery-1.12.0.min.js"></script>

    <script type="text/javascript" src="https://cdn.datatables.net/tabletools/2.2.4/js/dataTables.tableTools.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/tabletools/2.2.2/swf/copy_csv_xls_pdf.swf"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.11/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.1.2/js/dataTables.buttons.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.1.2/js/buttons.flash.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/2.5.0/jszip.min.js"></script>
    <script type="text/javascript" src="https://cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/pdfmake.min.js"></script>
    <script type="text/javascript" src="https://cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/vfs_fonts.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.1.2/js/buttons.html5.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.1.2/js/buttons.print.min.js"></script>

    <script>
        $(document).ready(function () {
            $('#example').DataTable({
                dom: 'Bfrtip',
                buttons: [
                    'copy', 'csv', 'excel', 'pdf', 'print'
                ]
            });
        });
    </script>
}
