@model IEnumerable<Laptopshop.Models.Order>
@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<div class="box">
    <div class="box-header">
        <p>
            Danh sách hóa đơn
        </p>
    </div>
    @Html.ActionLink("Tạo Đơn Hàng", "Details",  new { @class = "btn btn-warning" })
    <!-- /.box-header -->
    <div class="box-body">
        <table id="example" class="display" style="width:100%">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Id)
                    </th>
                    <th>

                        Họ và tên
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.OrderDate)
                    </th>

                    <th>
                        @Html.DisplayNameFor(model => model.RequireDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Amount)
                    </th>
                    <th>
                        Tình trạng đơn hàng
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Id)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Customer.Fullname)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.OrderDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.RequireDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Amount)
                        </td>
                        <td>
                            @{if
                                          (item.DeliveryStatus == "Delivering")
                                {

                                    <span class="label label-success"> @Html.DisplayFor(modelItem => item.DeliveryStatus)</span>
                                }
                                else
                                {
                                    <span class="label label-danger">@Html.DisplayFor(modelItem => item.DeliveryStatus)</span>
                                }


                            }
                        </td>

                        <td>
                            @{
                                if (item.DeliveryStatus == "Delivering" || item.DeliveryStatus == "Đã chỉnh sũa đơn hàng")
                                {
                                    @Html.ActionLink("Cập nhật trạng thái giao hàng ", "Edit", new { id = item.Id }, new { @class = "btn btn-info" })

                                }

                                else if (item.DeliveryStatus == "Đã giao hàng và khách hàng đã thanh toán đủ")
                                {

                                }
                                else if (item.DeliveryStatus == "Đơn hàng đã hủy ")
                                {

                                }


                            }
                            | @Html.ActionLink("Chi tiết đặt hàng", "Details", new { id = item.Id }, new { @class = "btn btn-warning" })


                        </td>
                    </tr>
                }
            </tbody>
            <tfoot>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Id)
                    </th>
                    <th>
                        Họ và tên
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.OrderDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.RequireDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Amount)
                    </th>
                    <th>
                        Tình trạng đơn hàng

                    </th>
                    <th></th>
                </tr>
            </tfoot>
        </table>
    </div>
</div>
@section scripts{

    <script type="text/javascript" src="jquery-1.12.0.min.js"></script>

    <script type="text/javascript" src="https://cdn.datatables.net/tabletools/2.2.4/js/dataTables.tableTools.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/tabletools/2.2.2/swf/copy_csv_xls_pdf.swf"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.11/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.1.2/js/dataTables.buttons.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.1.2/js/buttons.flash.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/2.5.0/jszip.min.js"></script>
    <script type="text/javascript" src="https://cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/pdfmake.min.js"></script>
    <script type="text/javascript" src="https://cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/vfs_fonts.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.1.2/js/buttons.html5.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.1.2/js/buttons.print.min.js"></script>

    <script>
        $(document).ready(function () {
            $('#example').DataTable({
                dom: 'Bfrtip',
                buttons: [
                    'copy', 'csv', 'excel', 'pdf', 'print'
                ]
            });
        });
    </script>
   
    
    
    }