@model Order
@{
    ViewBag.Title = "Checkout";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="content">
    <div class="products-agileinfo">
        <h2 class="tittle">Kiểm tra</h2>
        <div class="container">
            <div class="product-agileinfo-grids w3l">
                <div class="col-md-3 product-agileinfo-grid">
                    @Html.Action("_Supp", "Home")

                    <div class="cat-img">
                        <img class="img-responsive " src="~/Content 3/images/45.jpg" alt="">
                    </div>
                    <br />
                    <div class="categories">
                        <h3>Đặt biệt</h3>
                        <ul class="tree-list-pad">


                            <strong>
                                <li><a href="~/Product/ListBySpecial/BEST">Bán chạy nhất</a></li>

                                <li> <a href="~/Product/ListBySpecial/LATEST">Sản Phẩm mới</a></li>

                                <li><a href="~/Product/ListBySpecial/PROMO">Sản phẩm giảm giá</a></li>

                                <li><a href="~/Product/ListBySpecial/SPECIAL">Sản phẩm đặc biệt</a></li>

                                <li><a href="~/Product/ListBySpecial/VIEWS">Sản phẩm được xem nhiều nhất</a></li>
                            </strong>



                        </ul>
                    </div>
                </div>

                <div class="col-md-9 product-agileinfon-grid1">
                    <div class="product-agileinfon-top">
                        <div class="col-md-6 product-agileinfon-top-left">
                            <img class="img-responsive " src="~/Content 3images/img3.jpg" alt="">
                        </div>
                        <div class="col-md-6 product-agileinfon-top-left">
                            <img class="img-responsive " src="~/Content 3images/img4.jpg" alt="">
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <h2>
                        Selected Items
                    </h2>
                    @Html.ValidationSummary(true)
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th><strong style="color:red">Tên</strong></th>
                                <th><strong style="color:red">Giá</strong></th>
                                <th><strong style="color:red">Khuyến mãi</strong></th>
                                <th><strong style="color:red">Số lượng</strong></th>
                                <th><strong style="color:red">Số tiền</strong></th>
                            </tr>
                        </thead>
                        <tbody>

                            @foreach (var p in ShoppingCart.Cart.Items)
    {
                        <tr>
                            <td><p ><strong style="color:orange">@p.Name</strong></p></td>
                            <td><strong style="color:orange">@p.UnitPrice</strong></td>
                            <td><strong style="color:orange">@p.Discount</strong></td>
                            <td><strong style="color:orange">@p.Quantity</strong></td>
                            <td><strong style="color:orange">@string.Format("{0:0,0}",(p.Quantity * p.UnitPrice * (1 - p.Discount)))   VNĐ</strong></td>
                        </tr>
}
                            <tr>
                                <th colspan="4" style="text-align:right"><strong style="color:red">Thành tiền:</strong></th>
                                <th style="color:black">  <center>@string.Format("{0:0,0}", @ShoppingCart.Cart.Amount) VNĐ</center> </th>
                                
                            </tr>
                        </tbody>
                    </table>
                    <h2>Kiểm tra</h2>
                    @using (Html.BeginForm())
    {
                <div class="row">
                    @Html.HiddenFor(m => m.Id)
                    <div class="form-group col-sm-6">
                        <label>Khách hàng</label>
                        @Html.TextBoxFor(m => m.CustomerId, new { @class = "form-control", @readonly = true })
                    </div>
                    <div class="form-group col-sm-6">
                        <label>Ngày đặt hàng</label>
                        @Html.TextBoxFor(m => m.OrderDate, "{0:yyyy-MM-dd}", new { @class = "form-control", @readonly = true })
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-sm-6">
                        <label>
                            Người nhận
                        </label>
                        @Html.TextBoxFor(m => m.Receiver, new { @class = "form-control", @readonly = true })
                    </div>
                    <div class="form-group col-sm-6">
                        <label>
                            Ngày bắt buộc
                        </label>
                        @Html.TextBoxFor(m => m.RequireDate, "{0:yyyy-MM-dd}", new { @class = "form-control nn-date" })
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-sm-6">
                        <label>Tình trạng giao hàng </label>
                        @Html.TextBoxFor(m => m.DeliveryStatus, new { @class = "form-control", @readonly = true })
                    </div>

                    <div class="form-group col-sm-6">
                        <label>Số tiền</label>
                        @Html.TextBoxFor(m => m.Amount, new { @class = "form-control", @readonly = true })
                    </div>
                   
                    <div class="form-group col-sm-6">
                        <label>
                            Thông tin giao hàng (Địa chỉ và điện thoại)
                        </label>
                      
                        @Html.TextBoxFor(m => m.Address, new { @class = "form-control" })
                        <strong style="color:red">  @ViewBag.Address</strong>
                    </div>
                    <div class="form-group col-sm-6">
                        <label>Ghi chú</label>
                        @Html.TextAreaFor(m => m.Description, new { @class = "form-control", rows = 4 })
                    </div>

                </div>

                <div class="row">

                </div>
                
                   
                        <div class="form-w3agile">
                            <input class="btn btn-primary" type="submit" value="Purchase">
                            </div>
                        
                   
                            }

                        </div>
                        <div class="clearfix"> </div>
                    </div>
                </div>
                </div>
</div>

<script>
    $(function () {
        $(".nn-date").datepicker({
            dateFormat: 'yy-mm-dd',
            minDate: '+1D'
        });
    })
</script>
<style>
    #ui-datepicker-div {
        z-index: 2000 !important;
    }
</style>
