@model Laptopshop.Models.Product

@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}



@Html.ValidationSummary(true)
@using (Html.BeginForm("Create", "Products",
                FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <div class="box box-info">
        <div class="form-horizontal">
            <h3>Thêm sản phẩm</h3>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                <label class = "control-label col-md-2">
                    Tên sản phẩm
                </label>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <label class = "control-label col-md-2">
                    Kích cỡ
                </label>
                <div class="col-md-10">
                    @Html.DropDownList("IDSize", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.IDSize, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <label class = "control-label col-md-2">
                    Giá bán ra
                </label>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.UnitPrice, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.UnitPrice, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <label class = "control-label col-md-2">
                    Hình ảnh
                </label>
                <div class="col-md-10">
                    <input type="file" name="UpPhoto" class="form-control" />
                    @Html.HiddenFor(m => m.Image)
                </div>
            </div>

            <div class="form-group">
                <label class = "control-label col-md-2">
                    Ngày tạo sản phẩm
                </label>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.ProductDate, new { htmlAttributes = new { @class = "form-control", type = "date" } })
                    @Html.ValidationMessageFor(model => model.ProductDate, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <label class = "control-label col-md-2">
                    Có sẵn
                </label>
                <div class="col-md-10">
                    <div class="checkbox">
                        @Html.EditorFor(model => model.Available)
                        @Html.ValidationMessageFor(model => model.Available, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class = "control-label col-md-2">
                    Mô tả
                </label>
                <div class="col-md-10">
                    <textarea name="Description"></textarea>
                </div>
            </div>

            <div class="form-group">
                <label class = "control-label col-md-2">
                    Thương hiệu
                </label>
                <div class="col-md-10">
                    @Html.DropDownList("SupplierId", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.SupplierId, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <label class = "control-label col-md-2">
                    Số lượng hàng
                </label>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Quantity, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Quantity, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <label class = "control-label col-md-2">
                    Giảm giá
                </label>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Discount, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Discount, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <label class = "control-label col-md-2">
                    Hàng đặc biệt
                </label>
                <div class="col-md-10">
                    <div class="checkbox">
                        @Html.EditorFor(model => model.Special)
                        @Html.ValidationMessageFor(model => model.Special, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class = "control-label col-md-2">
                    Sản Phẩm
                </label>
                <div class="col-md-10">
                    <div class="minimal-red">
                        @Html.EditorFor(model => model.Latest)
                        @Html.ValidationMessageFor(model => model.Latest, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Views, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Views, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Views, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-info pull-right-container" />
                </div>
            </div>
        </div>
        </div>
        }

        <div>
            @Html.ActionLink("Back to List", "Index")
        </div>
        