@model Laptopshop.Models.Product

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Xóa</h2>

<h3>
    Bạn có chắc chắn muốn xóa?
</h3>
<div>
    <h4>Product</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Tên sản phẩm
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            Kích thước
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IDSize)
        </dd>

        <dt>
            Giá bán ra
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UnitPrice)
        </dd>

        <dt>
            Ảnh
        </dt>

        <dd>
            <div id="anh"><img src="@Url.Content("~/images/products/"+Model.Image)" width="100" height="100" /></div>
        </dd>

        <dt>
            Ngày tạo sản phẩm
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductDate)
        </dd>

        <dt>
            Có sẳn
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Available)
        </dd>

        <dt>
            Mô tả
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            Số Lượng hàng
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Quantity)
        </dd>

        <dt>
            Khuyến mãi
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Discount)
        </dd>

        <dt>
            Sản Phẩm Đặc biệt
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Special)
        </dd>

        <dt>
            Sản Phẩm mới
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Latest)
        </dd>

        <dt>
            Thương hiệu
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Supplier.Name)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
