


@model IEnumerable<Laptopshop.Models.Product>


@{

    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Manage Products</h2>


<div class="box">
    <div class="box-header">
        <p>
            @Html.ActionLink("Add New Product", "Create")
        </p>
    </div>
    <!-- /.box-header -->
    <div class="box-body">
        <table id="example" class="display" style="width:100%">
            <thead>
                <tr>
                    <th>
                        Name
                    </th>

                    <th>
                        Price
                    </th>
                    <th>
                        Image
                    </th>

                    <th>
                        Discount
                    </th>
                    <th>
                        Supplier
                    </th>

                    <th></th>

                </tr>
            </thead>
            <tbody>

                @foreach (var item in Model)
        {

            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.UnitPrice)
                </td>
                <td>
                    <div id="anh"><img src="@Url.Content("~/images/products/"+item.Image)" width="100" height="100" style="border-radius:40px" /></div>
                </td>




                <td>
                    @Html.DisplayFor(modelItem => item.Discount)
                </td>


                <td>
                    @Html.DisplayFor(modelItem => item.Supplier.Name)
                </td>


                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "btn btn-info" }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }, new { @class = "btn btn-warning" }) |
                    <button class="btn btn-danger"><a href="~/Admin/Products/Delete?id=@item.Id" onclick="return confirm('Are you sure want to delete?');">Delete</a></button>
                </td>
            </tr>


}

            </tbody>
            <tfoot>
                <tr>
                    <th>
                        Name
                    </th>

                    <th>
                        Price
                    </th>
                    <th>
                        Image
                    </th>

                    <th>
                        Discount
                    </th>
                    <th>
                        Supplier
                    </th>

                    <th></th>
                </tr>
            </tfoot>
        </table>
    </div>
    <!-- /.box-body -->
</div>

@section scripts{
    <script type="text/javascript" src="jquery-1.12.0.min.js"></script>

    <script type="text/javascript" src="https://cdn.datatables.net/tabletools/2.2.4/js/dataTables.tableTools.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/tabletools/2.2.2/swf/copy_csv_xls_pdf.swf"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.11/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.1.2/js/dataTables.buttons.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.1.2/js/buttons.flash.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/2.5.0/jszip.min.js"></script>
    <script type="text/javascript" src="https://cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/pdfmake.min.js"></script>
    <script type="text/javascript" src="https://cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/vfs_fonts.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.1.2/js/buttons.html5.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.1.2/js/buttons.print.min.js"></script>

    <script>
        $(document).ready(function () {
            $('#example').DataTable({
                dom: 'Bfrtip',
                buttons: [
                    'copy', 'csv', 'excel', 'pdf', 'print'
                ]
            });
        });
    </script>
}